<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" />
</head>
<div *ngIf="this.UserService.user">
    <app-threads></app-threads>
</div>
<div *ngIf="!this.UserService.user">
    <div class="center-container">
    <div id="feedback-form">
        <h2 class="header">Mini-Slack</h2>
        <div>
            <p>Entrez un nom d'utilisateur :</p>
            <input type="text" (keyup.enter)="this.UserService.login(this.username)" [(ngModel)]="this.username" />
            <button type="submit" (click)="this.UserService.login(this.username)">Connexion</button>
        </div>
        </div>
    </div>
</div>
