<div class="grid-container">
    <div class="side">
      <h1>Mini-Slack</h1>
      <p class="channel">CHANNELS</p>
    <div *ngFor="let thread of threads">
      <button class="thread-button" (click)="selectThread(thread)">{{ thread.label }}</button>
    </div>
    <div class="grid-container-thread">
        <input type="text" name="thread" (keyup.enter)="createNewThread()" [(ngModel)]="newThreadName" placeholder="Entrez le nom du nouveau thread..." />
        <button  class="thread-button" (click)="createNewThread()"> Nouveau Thread </button>
    </div>
  </div>
  <div class="messageList">
    <div class="grid-container" *ngFor="let message of messages">
      <app-messages [message]="message"></app-messages>
      <button class="button-delete" (click)="deleteMessage(message.id)">✖️</button>
    </div>
  </div>
</div>
<div class="messageForm">
    <input class="magic-input" type="text" name="message" (keyup.enter)="sendMessage()" [(ngModel)]="message" placeholder="Entrez votre message..." />
    <button class="magic-button" (click)="sendMessage()">Envoyer</button>
</div>

