body {
    margin: 0;
 }

.message-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligne les éléments en haut */
    background-color:white;
    border-top: 1px solid #ccc;
    padding: 15px;
}

.message-content {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 1.5;
}

.message-content p {
    margin: 0; /* Réinitialise les marges par défaut des paragraphes */
}

.message-metadata {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: flex-end; /* Aligne les éléments à droite */
}

.message-date {
    color: #888;
    font-size: 12px;
    margin-top: 5px; /* Marge en haut pour espacement */
}

.message-author {
    font-weight: bold;
    margin-top: 5px; /* Marge en haut pour espacement */
    width: 200px;
}

